{% macro appLinkList(options) %}
  {% if options.pages | length %}
    <ul class="govuk-list{% if options.classes %} {{options.classes}}{% endif %}">
      {% for child in options.pages %}
        <li>
          {% set ariaCurrent = child.url | ariaCurrentValue(options.renderedPageUrl) %}
          <a
            href="{{child.url | url}}"
            class="govuk-link govuk-link--no-underline govuk-link--no-visited-state"
            {% if ariaCurrent %}
            aria-current="{{ariaCurrent}}"
            {% endif %}
            >
            {{child.data.title}}
          </a>
          {{appLinkList({
            pages: child.data.children,
            renderedPageUrl: options.renderedPageUrl
          })}}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
