{% macro appLinkList(options) %}
  {% if options.pages | length %}
    <ul class="govuk-list app-current-with-dot {% if options.classes %} {{options.classes}}{% endif %}">
      {%- for page in options.pages -%}
        <li>
          {%- set ariaCurrent = page.url | ariaCurrentValue(options.renderedPageUrl) -%}
          <a href="{{page.url | url}}"
            class="govuk-link govuk-link--no-underline govuk-link--no-visited-state"
            {% if ariaCurrent -%} aria-current="{{ariaCurrent}}" {%- endif -%} >
            {{- page.data.title -}}
          </a>
          {%- if page.data.children | length %}
            {{- appLinkList({
              pages: page.data.children,
              renderedPageUrl: options.renderedPageUrl
            }) -}}
          {% endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {% endif %}
{% endmacro %}
