{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "mobile-navigation.njk" import appMobileNavigation %}

{%- set navigation = [] %}
{%- for child in collections.pages[0].data.children %}

  {% set subNavigationHtml %}
    <template>
      {{ appMobileNavigation({
        pages: child.data.children,
        renderedPageUrl: page.url
      }) }}
    </template>
  {% endset %}

  {% set navigationItem = child | asNavigationItem({attributes: {"data-module": "app-mobile-navigation-section"}, html: child.data.title + subNavigationHtml}) %}

  {%- set navigation = navigation.concat([navigationItem]) %}
{%- endfor %}

{{ govukServiceNavigation({
  navigation: navigation,
  navigationClasses: 'app-service-navigation__wrapper'
}) }}
