{% extends "govuk/template.njk" %}

{% block pageTitle %}
  {{- title -}}
{% endblock %}

{% block head %}
  {{ super() }}
  {#- Prevent search engine indexing for archive, preview and development builds -#}
  {% if site.env.CONTEXT !== "production" or metadata.noRobots %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/stylesheet.css' | url }}">
  {% getBundle "css" %}
{% endblock %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    productName: "Brand Guidelines"
  }) }}

  {% from "service-navigation.njk" import appServiceNavigation %}
  {% if collections.pages[0].data.children | length %}
    {{ appServiceNavigation({
      pages: collections.pages[0].data.children,
      renderedPageUrl: page.url
    })}}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {%- if site.env.CONTEXT === "dev" %}
    {{ govukPhaseBanner({
      tag: {
        text: "Development",
        classes: "govuk-tag--red"
      }
    }) }}
  {%- elif site.env.PULL_REQUEST %}
    {{ govukPhaseBanner({
      tag: {
        text: "Preview",
        classes: "govuk-tag--light-blue"
      },
      html: 'This is a preview of <a class="govuk-link" href="https://github.com/alphagov/govuk-brand-guidelines/pull/' + site.env.REVIEW_ID + '">a proposed change</a> to the brand guidelines.'
    }) }}
    {%- elif site.env.CONTEXT === "production" %}
    {{ govukPhaseBanner({
      tag: {
        text: "Alpha"
      },
      text: "This is a new service. Help us improve it by giving your feedback."
    }) }}
  {%- endif %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{
    govukBreadcrumbs({
      items: breadcrumbItems
    })
  }}

  <div class="govuk-grid-row govuk-main-wrapper">
    <nav class="govuk-grid-column-one-third" aria-label="Pages in this section">
      {% from "link-list.njk" import appLinkList %}
      {{ appLinkList({
        pages: sidebarNavigationRoot.data.children,
        renderedPageUrl: page.url,
        classes: 'app-chapter-navigation'
      })}}
    </nav>
  {#
    To avoid re-producing GOV.UK Frontend's markup for the `main` block
    the grid-row will be closed at the end of the `main` block
  #}
{% endblock %}

{% set mainClasses = 'govuk-grid-column-two-thirds app-main-wrapper' %}

{% block content %}
  <h1 class="govuk-heading-xl">{{title}}</h1>
  {{ content | safe }}
{% endblock %}

{% block main %}
  {{super()}}
  </div>
{% endblock %}

{% block bodyEnd %}
<script type="module" src="{{ '/assets/app.js' | url }}"></script>
{% endblock %}
