{% extends "./_base.njk" %}

{% block header %}
  {{ super() }}
  {% from "service-navigation.njk" import appServiceNavigation %}
  {% if collections.pages[0].data.children | length %}
    {{ appServiceNavigation({
      pages: collections.pages[0].data.children,
      renderedPageUrl: page.url
    })}}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  <div class="app-page-wrapper">
    <nav class="app-chapter-navigation" aria-label="Pages in this section">
      {% from "link-list.njk" import appLinkList %}
      {{ appLinkList({
        pages: sidebarNavigationRoot.data.children,
        renderedPageUrl: page.url
      })}}
    </nav>

    <div class="app-content">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {# Some pages, like test pages, don't have ancestors #}
      {% if ancestors.length %}
        {{
          govukBreadcrumbs({
            classes: 'app-breadcrumbs',
            items: ancestors | asBreadcrumbItems
          })
        }}
      {% endif %}

      {#
        To avoid re-producing GOV.UK Frontend's markup for the `main` block
        the grid row and column will be closed at the end of the `main` block
      #}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{title}}</h1>
  {{ content | safe }}

  {# Render the list of pages under each chapter after the content
    as a fallback for mobile navigation if JavaScript does not load #}
  {% if isSidebarNavigationRoot %}
    <nav class="app-chapter-navigation--mobile-fallback" aria-labelledby="chapter-navigation">
      <h2 class="govuk-heading-l" id="chapter-navigation">Pages in {{title}}</h2>
      {% from "link-list.njk" import appLinkList %}
      {{ appLinkList({
        pages: sidebarNavigationRoot.data.children,
        renderedPageUrl: page.url
      })}}
    </nav>
  {% endif %}
{% endblock %}

{% block main %}
    {{super()}}
    </div>
  </div>
{% endblock %}
