{% extends "./_base.njk" %}

{% set htmlClasses = 'app-break-out-container' %}

{% block header %}
  {{ super() }}
  {% from "service-navigation.njk" import appServiceNavigation %}
  {% if collections.serviceNavigationPages | length %}
    {{ appServiceNavigation({
      pages: collections.serviceNavigationPages,
      renderedPageUrl: page.url,
      inverse: true
    })}}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% breakOut %}
    {{ super() }}
  {% endbreakOut %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
