{% extends "./_base.njk" %}

{% set htmlClasses = 'app-break-out-container' %}

{% block govukHeader %}
  {{ super() }}
  {% from "mobile-navigation-section.njk" import mobileNavigationSection %}
  {{ mobileNavigationSection({
      pages: collections.serviceNavigationPages,
      renderedPageUrl: page.url,
      inverse: true
    })
  }}
{% endblock %}

{% block beforeContent %}
  {% breakOut %}
  {{ super() }}
  {% endbreakOut %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
