// Style aria-current lists
.app-current-with-dot {
  --dot-spacing: #{govuk-spacing(2)};

  [aria-current] {
    font-weight: bold;
  }

  [aria-current='page'] {
    display: inline-flex;
    align-items: baseline;

    &::before {
      $dot-size: 1ex;

      content: '';
      display: block;
      width: $dot-size;
      height: $dot-size;
      margin-right: var(--dot-spacing);
      margin-left: calc(-#{$dot-size} - var(--dot-spacing));

      // Better alignment with the text
      transform: translateY(-1px);
      border-radius: 100%;
      background: currentcolor;
    }
  }
}
