.app-breadcrumbs {
  margin-top: 0;
  margin-bottom: govuk-spacing(1);
}

// Modifier for breadcrumbs on landing pages.
// Breadcrumbs are intentionally outside main whilst the hero itself is within
// main. To get around this and appear to present the breadcrumb 'inside' the
// hero, we replicate their background colour settings, set the breadcrumb
// bottom margin and the hero top margin to 0 and position them together to
// create the illusion of a single element.
.app-breadcrumbs--landing {
  @extend %app-landing-hero-bleed;
  @include govuk-font($size: 19);
  margin-bottom: 0;
  padding: govuk-spacing(6) govuk-spacing(6) 0;
  background-color: var(--app-landing-hero-dark-colour);

  @include govuk-media-query($from: tablet) {
    background-image: linear-gradient(
      to right,
      transparent $app-landing-container-width,
      var(--app-landing-hero-light-colour) 30%
    );
  }
}

// Modifiers for each landing page which set background colours
.app-breadcrumbs--landing-graphic-device {
  --app-landing-hero-dark-colour: #{$app-teal-shade-25};
  --app-landing-hero-light-colour: #{$app-teal};
}

.app-breadcrumbs--landing-colour {
  --app-landing-hero-dark-colour: #{$app-purple-shade-25};
  --app-landing-hero-light-colour: #{$app-purple};
}

.app-breadcrumbs--landing-logo-system {
  --app-landing-hero-dark-colour: #{$app-green};
  --app-landing-hero-light-colour: #{$app-green-tint-25};
}

.app-breadcrumbs--landing-typography {
  --app-landing-hero-dark-colour: #{$app-magenta-shade-50};
  --app-landing-hero-light-colour: #{$app-magenta};
}
