.app-link-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'title icon' 'description icon';
  gap: govuk-spacing(2);
  position: relative;
  border: 1px solid $app-blue-tint-50;
  border-radius: 3px;
  background-color: $app-blue-tint-95;
  @include govuk-responsive-padding(5);
}

.app-link-card__link {
  grid-area: title;
  @include govuk-font($size: 19, $weight: bold);
  @include govuk-link-common;
  @include govuk-link-style-no-visited-state;
  @include govuk-link-style-no-underline;
  @include govuk-link-print-friendly;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.app-link-card__title {
  margin: 0;
}

.app-link-card__description {
  grid-area: description;
  color: $govuk-text-colour;
  @include govuk-font($size: 19);
}

.app-link-card__icon {
  grid-area: icon;
  align-self: end;
  justify-self: end;
  text-align: right;
}
