.app-link-card {
  display: block;
  border: solid 1px #7aaad5;
  border-radius: 3px;
  background: $app-light-blue;
  @include govuk-responsive-padding(5);

  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  @include govuk-link-style-no-underline;
  @include govuk-link-style-no-visited-state;

  &:hover {
    text-decoration-line: none;

    .app-link-card__title {
      text-decoration-line: underline;
    }

    border-color: currentcolor;
    box-shadow: inset 0 0 0 1px currentcolor;
  }

  &:focus {
    @include govuk-focused-box;
  }

  > * {
    display: block;
  }

  > * + * {
    margin-top: govuk-spacing(2);
  }
}

.app-link-card__title {
  @include govuk-font-size($size: 24);
  font-weight: bold;
}

.app-link-card__description {
  color: $govuk-text-colour;
}
