@use 'govuk/base' as *;
@use 'variables' as *;

.app-link-card {
  display: flex;
  flex-direction: column;
  position: relative;

  // Prevent clipping of icon by the border radius
  overflow: hidden;
  border: 1px solid govuk-colour('blue', $variant: 'tint-50');
  border-radius: 3px;
  background-color: govuk-colour('white');
}

.app-link-card__link {
  @include govuk-font($size: 19, $weight: bold);
  @include govuk-link-common;
  @include govuk-link-style-no-visited-state;
  @include govuk-link-style-no-underline;
  @include govuk-link-print-friendly;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.app-link-card__title {
  margin: 0;
  padding: govuk-spacing(4);
  padding-bottom: govuk-spacing(1);
}

.app-link-card__description {
  padding: govuk-spacing(4);
  padding-top: 0;
  color: govuk-functional-colour(text);
  @include govuk-font($size: 19);
}

.app-link-card__icon-container {
  // Vertically centre align icons
  display: flex;
  place-content: center;

  // Extend perceived background to full height of card
  background-color: var(--icon-background);
}

.app-link-card__icon {
  // Remove bottom margin added by line-height
  vertical-align: middle;
}
