.app-prose img,
.app-prose video {
  max-width: 100%;
  height: auto;
}

.app-prose video {
  width: auto;
  max-height: 90vh;
}

.app-prose figure {
  margin: 0;
}

.app-prose figcaption {
  @include govuk-typography-common;

  font-size: 16px;
  text-align: center;
}

.app-prose code {
  padding-right: govuk-spacing(1);
  padding-left: govuk-spacing(1);
  border: 1px solid govuk-colour('mid-grey');
  border-radius: 3px;
  background-color: govuk-colour('light-grey');
  font-family: ui-monospace, monospace;

  // Monospace fonts tend to look larger than the surrounding text due to having
  // exaggerated x-heights, making them smaller makes text look more uniform.
  // Setting using a keyword instead of a fixed size as headings may also
  // contain inline code snippets.
  font-size: smaller;
}

.app-prose pre code {
  display: block;
  padding: govuk-spacing(1);
  @include govuk-font-size(16);
}
