.app-section-highlight {
  color: govuk-colour('white');
  background-color: govuk-colour('blue');
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(5, $direction: 'bottom');

  [class^='govuk-heading'],
  [class^='govuk-body'],
  .govuk-list {
    color: inherit;
  }
}
