.app-section-highlight {
  border-radius: 3px;
  color: govuk-colour('white');
  background-color: govuk-colour('blue');
  @include govuk-responsive-padding(6);
  @include govuk-responsive-margin(8, $direction: 'top');
  @include govuk-responsive-margin(8, $direction: 'bottom');

  [class^='govuk-heading'],
  [class^='govuk-body'],
  .govuk-list {
    color: inherit;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .app-top-border {
    --app-top-border-colour: #{govuk-colour('white')};
  }
}

.app-section-highlight--light-blue,
.app-section-highlight--light-grey {
  color: govuk-colour('black');

  .app-top-border {
    --app-top-border-colour: #{$app-blue-shade-25};
  }
}

.app-section-highlight--light-blue {
  background-color: $app-light-blue;
}

.app-section-highlight--light-grey {
  background-color: govuk-colour('light-grey');
}

// Dark magenta section highlight likely to be deleted as it's just framing an
// image, and the image should have it's own background
.app-section-highlight--dark-magenta {
  background-color: #651b3e;
}

.app-section-highlight__wrapper--logo {
  padding: govuk-spacing(6);
  text-align: center;

  img {
    max-width: 60%;
  }
}

.app-section-highlight__wrapper--space-around {
  margin: govuk-spacing(8);
}
