.app-swatch {
  $sample-size: 2.5em;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: govuk-spacing(3);
  margin-top: 0;
  @include govuk-responsive-margin(5, $direction: 'bottom');
  @include govuk-font(19);

  // The colour sample
  &::before {
    content: '';
    grid-row: 1 / 4;
    display: inline-block;
    width: $sample-size;
    height: $sample-size;
    border: 2px solid govuk-colour('black');
    border-radius: 50%;
    background-color: var(--app-swatch-colour);

    // Prevent the swatch being overridden by forced colour modes
    forced-color-adjust: none;

    box-shadow: inset 0 0 0 4px govuk-colour('white');
  }

  .app-inline-copy {
    margin-left: govuk-spacing(1);
  }
}

.app-swatch__name,
.app-swatch__value {
  grid-column: 2;
  margin: 0;
}

.app-swatch__name {
  @include govuk-typography-weight-bold;
}

// Reduce the spacing between swatches in a list
.app-swatch-list {
  margin-top: 0;
  @include govuk-responsive-margin(5, $direction: 'bottom');

  .app-swatch {
    @include govuk-responsive-margin(3, $direction: 'bottom');
  }
}
