.app-swatch {
  --sample-size: 2.5em;
  --sample-border: 4px;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: govuk-spacing(3);
  margin-top: 0;
  @include govuk-responsive-margin(4, $direction: 'bottom');
  @include govuk-font(19);

  // The colour sample
  &::before {
    content: '';
    grid-row: 1 / 4;
    display: inline-block;
    width: var(--sample-size);
    height: var(--sample-size);
    border: 1px solid govuk-colour('dark-grey');
    border-radius: 50%;
    background-color: var(--app-swatch-colour);

    // Prevent the swatch being overridden by forced colour modes
    forced-color-adjust: none;

    box-shadow: inset 0 0 0 var(--sample-border) govuk-colour('white');
  }
}

.app-swatch__name,
.app-swatch__value {
  grid-column: 2;
  margin: 0;
}

.app-swatch__name {
  @include govuk-typography-weight-bold;
}

.app-swatch__value {
  margin-top: govuk-spacing(1);
  font-family: monospace;
  font-size: smaller;
}

.app-swatch--compact {
  --sample-size: 1.5em;
  --sample-border: 3px;

  @include govuk-font(16);
}

// Reduce the spacing between swatches in a list
.app-swatch-list {
  --column-width: 17rem;

  column-width: var(--column-width);
  column-gap: $govuk-gutter-half;
  margin-top: govuk-spacing(1);
  margin-bottom: 0;

  &.app-swatch-list--compact {
    --column-width: 13rem;
  }

  .app-swatch {
    // Do not break content within swatches
    break-inside: avoid;
  }
}
