// Colours
$app-blue-tint-95: govuk-colour('blue', $variant: 'tint-95');
$app-blue-tint-50: govuk-colour('blue', $variant: 'tint-50');
$app-blue-shade-50: govuk-colour('blue', $variant: 'shade-50');
$app-black: govuk-colour('black');
$app-black-tint-25: govuk-colour('black', $variant: 'tint-25');
$app-black-tint-50: govuk-colour('black', $variant: 'tint-50');
$app-black-tint-80: govuk-colour('black', $variant: 'tint-80');
$app-black-tint-95: govuk-colour('black', $variant: 'tint-95');
$app-teal: #158187;
$app-teal-tint-25: #50a1a5;
$app-teal-shade-25: #106165;
$app-purple: #54319f;
$app-purple-shade-25: #3f2577;
$app-green: #0f7a52;
$app-green-tint-25: #4b9b7d;
$app-magenta: #ca357c;
$app-magenta-shade-50: #651b3e;

// Grid and container widths
$app-sidebar-nav-desktop: 260px;
$app-sidebar-nav-tablet: 210px;
$app-landing-container-width: $govuk-page-width - $app-sidebar-nav-desktop;
