// Import govuk-frontend's settings, helpers, etc. into global namespace
@use 'govuk/base' as * with (
  $govuk-new-typography-scale: true
);

// Other partials can't be @use'd as they lack internal dependency references
@import 'govuk/core';
@import 'govuk/objects';

// App variables
@import 'variables';

// GOV.UK Frontend components
@import 'govuk/components/breadcrumbs';
@import 'govuk/components/footer';
@import 'govuk/components/header';
@import 'govuk/components/inset-text';
@import 'govuk/components/phase-banner';
@import 'govuk/components/service-navigation';
@import 'govuk/components/skip-link';

@import 'prose';

// App components
@import 'aria-current';
@import 'callout';
@import 'grid';
@import 'inform-inspire';
@import 'inline-copy';
@import 'link-list';
@import 'mobile-navigation-section';
@import 'section-highlight';
@import 'swatch';
@import 'top-border';

@import 'govuk/utilities';
@import 'govuk/overrides';

// Padding on the `<main>` element needs removing as it's been shifted to a parent
.app-main-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.app-chapter-navigation {
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.app-chapter-navigation--mobile-fallback {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.app-size-recommendation {
  display: block;
  font-size: larger;
}

.app-meta-info {
  color: #484949;
}

// Flexbox for arranging things inside the grid
// Centering elements in flex
.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

// Aligning content in flexbox
.flex-end {
  align-content: flex-end;
}

.flex-start {
  align-content: flex-start;
}

// Dark magenta section highlight likely to be deleted as it's just framing an image, and the image should have it's own background
.dark-magenta {
  color: #ffffff;
  background-color: #651b3e;
}

// Image and video styling
.img-fit img {
  width: 100%;
  height: auto;
}

.img-scale img {
  max-width: 60%;
  padding: 30px;
}

.img-border {
  margin: 50px;
  overflow: hidden;
}

// Grid adjustments
.app-grid {
  gap: 15px;
}
