// Import govuk-frontend's settings, helpers, etc. into global namespace
@use 'govuk/base' as * with (
  $govuk-new-typography-scale: true
);

// Other partials can't be @use'd as they lack internal dependency references
@import 'govuk/core';
@import 'govuk/objects';

@import 'govuk/components/breadcrumbs';
@import 'govuk/components/footer';
@import 'govuk/components/header';
@import 'govuk/components/phase-banner';
@import 'govuk/components/service-navigation';
@import 'govuk/components/skip-link';

@import 'grid';
@import 'inline-copy';
@import 'section-highlight';
@import 'swatch';

@import 'govuk/utilities';
@import 'govuk/overrides';

.app-prose-image {
  max-width: 100%;
  height: auto;
}

.app-code--inline {
  padding-right: govuk-spacing(1);
  padding-left: govuk-spacing(1);
  border: 1px solid govuk-colour('mid-grey');
  border-radius: 3px;
  background-color: govuk-colour('light-grey');
  font-family: ui-monospace, monospace;

  // Monospace fonts tend to look larger than the surrounding text due to having
  // exaggerated x-heights, making them smaller makes text look more uniform.
  // Setting using a keyword instead of a fixed size as headings may also
  // contain inline code snippets.
  font-size: smaller;
}
